header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    background-color: #D7C0D0;
}

@media (orientation: portrait) {
    nav h1, nav h5{
      font-size: 15px;
    }
    h2{
      font-size: 15px;
    } 
  }

ul {
    margin-top: 0;
    margin-bottom: 0;
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

a{
    color: black;
}

.btn-primary{
    background-color: #BB7B4B;
    border-color:#5F5449;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ingredients{
    margin-bottom: 16px;
}