
header{
    flex: 2;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.login_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 30rem;

}

div.Login{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    flex: 1;
    display: flex; 
    align-items: center;
    justify-self: center;
    flex-direction: column;
    background-color: #DED6D1;
    border: 2px solid #D7C0D0;
    border-radius: 10px;

}

@media (orientation: portrait) {
    div.Login{
        width:350px;
    }
    div.login_image{
        width: 40rem;
        height: 20rem;

    }
  }

.form-control{
    margin-bottom: 5px;
}

.btn.btn-primary{
    margin-bottom: 10px;
    background-color: #D7C0D0;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    max-height: 500px; /* Adjust this value as needed */
    width: auto; /* Maintain aspect ratio */
  }

@media (orientation: portrait) {
img {
    max-height: 200px; /* Adjust this value as needed */
    width: auto; /* Maintain aspect ratio */
}
}